<!--projects/angular-ui/src/lib/dynamic-form/form/form-row/form-row.component.html-->
<div class="row" [ngClass]="{'edit-mode': editMode}" >
  <!-- Cabeçalho da Row -->
  <dynamic-form-row-header
    [formGroup]="formGroup"
    [editMode]="editMode"
    [row]="row"
    [fieldset]="fieldset"
    [rowIndex]="rowIndex"
    (toggleOrientation)="toggleRowOrientation.emit($event)"
    (addRow)="addRow.emit($event)"
    (removeRow)="removeRow.emit($event)"
  >
  </dynamic-form-row-header>

  <!-- Lista de Fields dentro da Row -->
  <div class="field-list"
       cdkDropList
       [cdkDropListDisabled]="!editMode"
       id="row_{{fieldset.id}}_{{row.id}}"
       [cdkDropListData]="row.fields"
       [cdkDropListConnectedTo]="connectedItemsDropLists"
       [cdkDropListOrientation]="row.orientation === 'horizontal' ? 'horizontal' : 'vertical'"
       [ngStyle]="{
         'flex-direction': row.orientation === 'horizontal' ? 'row' : 'column',
         'justify-content': row.orientation === 'horizontal' ? 'space-between' : 'flex-start'
       }"
       (cdkDropListDropped)="onFieldDrop($event)"
       [@fieldAnimation]="getVisibleFields(row.fields).length">

    <!-- Updated field-item with direct event emit -->
    <field-item
      [ngClass]="{'edit-mode': editMode}"
      [editMode]="editMode"
      *ngFor="let field of getVisibleFields(row.fields)"
      cdkDrag
      [cdkDragDisabled]="!editMode"
      [cdkDragData]="field"
      [field]="field"
      [formGroup]="formGroup"
      (removeFieldEvent)="fieldRemoved.emit({ field: $event, rowId: row.id })"
      resizable
      [initialWidth]="field?.width || 'auto'"
      (resizeEnd)="onFieldResize($event, field)">
    </field-item>

    <!-- Placeholder para row vazia -->
    <div *ngIf="row.fields.length === 0"
         class="empty-row-placeholder"
         title="Arraste os campos desejados e solte-os aqui para adicionar.">
      Arraste campos para cá
    </div>

  </div>

</div>
