<div class="fieldset-header" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
  <!-- Ícone de arrastar (topo, centralizado) -->
  <div *ngIf="editMode" class="drag-handle" title="Arraste para reordenar">
    <i class="bi bi-grid-3x2-gap-fill"></i>
  </div>

  <!-- Título do Fieldset -->
  <h3 class="fieldset-title k-text-lead" editFieldsetTitle [fieldset]="fieldset" [editMode]="editMode">
    {{
      formMode === 'create' && fieldset.titleNew ? fieldset.titleNew :
      formMode === 'edit' && fieldset.titleEdit ? fieldset.titleEdit :
      formMode === 'view' && fieldset.titleView ? fieldset.titleView :
      fieldset.title
    }}
  </h3>

  <br>

  <div class="box-tools"  *ngIf="editMode && isHovered">
    <button *ngIf="editMode"
            class="edit-icon-button"
            (click)="onToggleOrientation($event)"
            [title]="fieldset.orientation === 'horizontal' ? 'Mudar para orientação vertical' : 'Mudar para orientação horizontal'">
      <i class="bi"
         [ngClass]="fieldset.orientation === 'horizontal' ? 'bi bi-layout-three-columns' : 'bi bi-layout-split'"
         [ngStyle]="{'transform': fieldset.orientation === 'horizontal' ? 'rotate(90deg)' : 'rotate(0deg)'}">
      </i>
    </button>

    <!-- Botão para adicionar Row com ícone dinâmico -->
    <button *ngIf="editMode"
            class="edit-icon-button"
            (click)="onAddRow($event)"
            [title]="fieldset.orientation === 'horizontal' ? 'Nova Coluna' : 'Nova Linha'">
      <i class="bi bi-layout-sidebar-inset"
         [ngStyle]="fieldset.orientation === 'vertical' ? {'transform': 'rotate(90deg) translateY(4px)'} : {}"></i>
    </button>


    <!-- Botão para adicionar Fieldset (Nova Sessão) com ícone específico -->
    <button *ngIf="editMode" class="edit-icon-button"
            (click)="onAddFieldset($event)"
            title="Nova Sessão">
      <i class="bi bi-ui-radios"></i>
    </button>

    <!-- Botão para remover o fieldset -->
    <button *ngIf="editMode && isFieldsetRemovable()" class="edit-icon-button delete-icon-button"
            (click)="onRemoveFieldset($event)" title="Remover Fieldset">
      <i class="bi bi-trash"></i>
    </button>

    <!-- Botão para configurações do fieldset -->
    <button *ngIf="editMode" class="edit-icon-button"
            (click)="openSettings($event)" title="Configurações">
      <i class="bi bi-gear-fill"></i>
    </button>

</div>
</div>
