<kendo-dialog
  [title]="rowConfig.orientation === 'horizontal' ? 'Configurações da Coluna' : 'Configurações da Linha'"
  (close)="cancel()"
>
  <kendo-card class="row-editor-card elegant-card"  style="width: 900px">
    <kendo-card-header class="elegant-header">
      <div class="header-info">
        <div class="header-icon">
          <i class="bi" [ngClass]="rowConfig.orientation === 'horizontal' ? 'bi-grid-3x2' : 'bi-grid-1x2'"></i>
        </div>
        <div class="header-text">
          <h1 kendoCardTitle class="elegant-title">{{ rowConfig.label || 'Sem título' }}</h1>
          <p kendoCardSubtitle class="elegant-subtitle">{{ rowConfig.orientation === 'horizontal' ? 'Linha Horizontal' : 'Linha Vertical' }}</p>
        </div>
      </div>
    </kendo-card-header>

    <kendo-card-body class="elegant-body">
      <kendo-tabstrip>

        <kendo-tabstrip-tab title="Campos na Linha" [selected]="true">
          <ng-template kendoTabContent>
            <th-dynamic-field-detail [row]="rowConfig" (rowChange)="onRowFieldsUpdated($event)"></th-dynamic-field-detail>
          </ng-template>
        </kendo-tabstrip-tab>

        <kendo-tabstrip-tab title="Visibilidade">
          <ng-template kendoTabContent>
            <div class="tab-content-wrapper">
              <p class="tab-explanation">
                <i class="bi bi-info-circle"></i>
                Defina as condições de <strong>visibilidade</strong> para que esta {{ rowConfig.orientation === 'horizontal' ? 'linha' : 'coluna' }} seja <strong>exibida apenas</strong> quando critérios específicos forem atendidos.
              </p>
              <app-condition-builder
                [context]="'visibility'"
                [availableFields]="otherAvailableFields"
                [initialConditions]="rowConfig.hiddenCondition ?? null"
                (conditionsChange)="onConditionsChange($event, 'hiddenCondition')">
              </app-condition-builder>
            </div>
          </ng-template>
        </kendo-tabstrip-tab>

      </kendo-tabstrip>
    </kendo-card-body>

    <kendo-card-actions class="elegant-actions">
      <button kendoButton themeColor="base" fillMode="flat" (click)="cancel()">Cancelar</button>
      <button kendoButton themeColor="primary" (click)="save()" [disabled]="!isFormValid || formGroup.invalid || false">Salvar</button>
    </kendo-card-actions>
  </kendo-card>
</kendo-dialog>
